@layer mantine, mantine-datatable;

.product-card {
    position: relative;
    transition: all 0.3s ease;
    .product-card-header {
        .product-card-header-actions {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &:hover {
        .product-card-header {
            .product-card-header-actions {
                display: flex;
            }
        }
    }
}
